
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



/*------featured cars-----*/
.img1colon{
  max-width:46.3%;
}
.img1colon>img{
 
  width: 100%;
  
}
.costumrow{
  border-top: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA; 
}
.txt1colon{
  width: 53.7%;
}
.featurecontant{
  width:85%;
  height: auto;
  border: 1px solid #C59E47;
  margin-top: 7%;
 
  margin-right: auto;
  margin-left: auto;
 
}
.featurecontant>h1{
  font-family: "OpenSans Regular";
  font-size: 19.8px;
  text-align: center;
  color: #5B5B5B;
  margin-top:14%;
  margin-bottom: 8px;

}
.featurecontant>p{
  font-family: "OpenSans Regular";
  font-size: 11.44px;
  text-align: center;
  color: #5B5B5B;
}
.featurecontant>h2{
  font-family: "OpenSans Regular";
  font-size: 12.41pt;
  color: #020243;
  text-align: center;
  letter-spacing: 8px;
  margin-top: 36%;
  margin-bottom: 19px;
}
.featurecontant>button{
  background: #020243;
  border: 1px solid #020243;
  font-family: "OpenSans Regular";
  font-size: 19px;
  color:#fff;
  letter-spacing: 5px;
  width: 68%;
  margin-left: 17%;
  margin-bottom: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.featurecontant>button:hover{
  -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
  border: 1px solid #020243;
  background: none;
  color: #020243;
} 
 

.img2colon{
  padding: 0px!important;
  margin: 0px!important;
  max-width:46.3%;

}
.img2colon>img{
  width: 100%;
}
#readmore{
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  top:0px;
  margin-top: 30px;
  height: 0px;
  max-width: 290px;
}
#readmore>h1{
  text-align: center;
  font-family: "OpenSans Regular";
  color: #5B5B5B;
  font-size: 19.8px;
}
#readmore>p{
  font-family: "OpenSans Regular";
  font-size: 11.44px;
  text-align: center;
  color: #5B5B5B;
  margin-right: 20px;
  margin-left: 20px;
}
#readmore>button{
  background: none;
  border: 1px solid #020243; 
  font-family: "OpenSans Regular";
  font-size: 19px;
  color:#020243;
  letter-spacing: 5px;
  width: 70%;
  margin-left: 17%;
  margin-bottom: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#readmore>button:hover{
  background: #020243;
  color: #fff;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; 
} 
#readmore2{
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  top:0px;
  margin-top: 30px;
  height: 0px;
  max-width: 290px;
}
#readmore2>h1{
  text-align: center;
  font-family: "OpenSans Regular";
  color: #5B5B5B;
  font-size: 19.8px;
}
#readmore2>p{
  font-family: "OpenSans Regular";
  font-size: 11.44px;
  text-align: center;
  color: #5B5B5B;
  margin-right: 20px;
  margin-left: 20px;
}
#readmore2>button{
  background: none;
  border: 1px solid #020243; 
  font-family: "OpenSans Regular";
  font-size: 19px;
  color:#020243;
  letter-spacing: 5px;
  width: 68%;
  margin-left: 17%;
  margin-bottom: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#readmore2>button:hover{
  background: #020243;
  color: #fff;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; 
}

@media screen and (max-width: 1198px){
.featurecontant{
width: 85%;
margin-right:auto;
margin-left: auto;

}
 
 
.costumrow{
  border-top: 0px solid #BABABA;
  border-bottom: 0px solid #BABABA;
}
.colborder1{
border-top: 1px solid #BABABA;
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.colborder2{
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.costumcol{
display: block;
max-width: 683px;
margin-right: auto;
margin-left: auto;
}
}
@media screen and (max-width: 651px){
.colborder1{
 border-top: 0px solid #BABABA;
 border-left:0px solid #BABABA;
 border-right:0px solid #BABABA; 
 border-bottom: 0px;
}
.img1colon>img{
  width: 312px;
  margin-left: 3px;
}
.img2colon>img{
  width: 312px;
  margin-left: 3px;
}
.colborder2{
border:0px solid #BABABA;
}
.txt1colon{
 width: 310px;
 margin-left: 3px;
}
.featurecontant{
 
width: 100%;
}
.costumcol{
display: block;
max-width: 320px;
margin-right: auto;
margin-left: auto;
}
#readmore{
  max-width: 99%;
}
#readmore2{
  max-width: 99%;
}
}

